# Standard packages.
typing  # Version dependent on Python version.
pytest  # Use the latest version to match github workflow.
absl-py>=1.0.0

# Distributed systems libraries.
dm-launchpad

# Configuration + Experimentation
ml-collections

# Numerical packages.
numpy>=1.21.5
jax  # Use latest version.
jaxlib  # Use latest version.
flax  # Use latest version.
